
<button data-location="/views/all/index.html">Run all</button>

<button data-location="/views/analytics/index.html">Analytics</button>
<button data-location="/views/animation/index.html">Animation</button>
<button data-location="/views/device/index.html">Device</button>
<button data-location="/views/layers/index.html">Layers</button>
<button data-location="/views/logger/index.html">Logger</button>
<button data-location="/views/modal/index.html">Modal</button>
<button data-location="/views/splashScreen/index.html">SplashScreen</button>
<button data-location="/views/view/index.html">View</button>
<button data-location="/views/views/index.html">Views</button>

<script src="/controllers/steroids.js"></script>